
/*         GLOBALE STIJLEN          */ 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
}

p {
    font-weight: 200;
    line-height: 1.6;
}

a {
    text-decoration: none;
}
 
ul li {
    list-style: none;
}

.spacing {
    margin: 0 2.5%;
}

.light {
    font-weight: 100;
}

.logo {
    font-family: 'Pacifico', sans-serif;
    font-size: 42px;
    text-transform: lowercase;
}

.btn {
    display: block;
    width: 125px;
    margin: 30px auto 0 auto;
    padding: 7.5px 20px;
    border: 2px solid #7acbe4;
    border-radius: 3px;
    background: #7acbe4;
    color: white;
    transition: all .4s ease;
}

.btn:hover {
    background: #FFF;
    color: #7acbe4;
}

.container {
    width: 70%;
    margin: 0 15%;
}

.container_sm {
    width: 60%;
    margin: 0 20%;
}

/*         NAVIGATION          */ 

.nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.nav .logo {
    font-size: 24px;
    font-weight: 900;
    padding: 20px 0;
    color: white;
}

.nav li {
    list-style: none;
    display: inline-block;
}

.nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    line-height: 1.4;
}

/**********         HOME PAGE        ********** / 

/*         HEADER        */   

.header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    background: rgba(122, 203, 228, .6);
}

.header h2 {
    color: white;
    font-size: 42px;
}

.header video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    object-fit: cover;
    overflow: hidden;
}

.header_text {
    margin-top: 100px;
}

.about_home {
    text-align: center;
    padding: 150px 0;
    color: #4e4e4e;
}

.about_text {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
}

.portfolio_home, .portfolio {
    background: #F5F5F5;
    padding: 100px 0;
}

.portfolio_home:after, .portfolio:after {
    content: '';
    display: table;
    clear: both;
}

.portfolio_home h3, .portfolio h3 {
    text-align: center;
}

.portfolio_item {
    width: 48.75%;
    float: left;
    overflow: hidden;
}

.portfolio_item img {
    display: block;
    width: 100%;
    height: 100%;
}

 .portfolio_home .portfolio_item:nth-child(odd) {
    margin-right: 2.5%;
}

.portfolio_content {
    padding: 20px;
    background: #FFF;
    margin-bottom: 50px;
}

.contact_home {
    text-align: center;
    padding: 150px 0;
    color: #4e4e4e;
}

/**********         PORTFOLIO PAGE        ********** / 

/*         SECONDARY HEADER         */    

.header_secondary {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    background: url('../img/header1.jpg') no-repeat bottom;
    background-size: cover;
    z-index: 999;
}

.header_secondary > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: rgba(122, 203, 228, .6);
    z-index: -1;
}

.header_secondary h2 {
    color: white;
    font-size: 42px;
}

.header_secondary .header_text {
    margin-top: 0;
}

.portfolio .portfolio_item {
    width: 31.666%;
    float: left;
    overflow: hidden;
}

/**********         CONTACT PAGE        ********** / 

/*         CONTACT FORM         */ 

.contact {
    padding: 100px;
    background: #F5F5F5;
}

.contactform:after {
    display: table;
    content: "";
    clear: both;
}


.contactform input, .contactform textarea {
    margin: 0px auto 20px auto;
}

.contactform textarea {
    background: #FFF;
    border: none;
    width: calc(100% - 30px);
    height: 175px;
    border-radius: 3px;
    font-size: 14px;
    padding: 16px;
    resize: vertical;
}

.contactform .left {
    float: left;
    width: 50%;
}

.contactform .right {
    width: 45%;
    margin-left: 5%;
}

.right {
    float: left;
}

.contact_submit {
    float: right;
}

.form_details input {
    background: #FFF;
    width: 100%;
    height: 55px;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    text-indent: 20px;
    color: #4e4e4e;
}






/*         FOOTER          */ 

.footer {
    background: #7acbe4;
}

.footer:after {
    display: table;
    content: '';
    clear: both;
}

.footer_columns {
    float: left;
    padding: 20px;
   
}

.footer_columns h4 {
    font-weight: 500;
    margin-bottom: 20px;
}

.footer_columns a, .footer_columns > li > ul > li {
    color: #4e4e4e;
}